# Python
__pycache__/
*.pyc

# Virtual env
venv/
env/

# VSCode settings
.vscode/

# OS
.DS_Store

# ここに入れた拡張子のファイルはローカルになる（必要に応じて調整）
*.h5
*.pt
*.wav

# ローカルにしたくない例外ファイル
!emotion_model_regression.h5
!tokenizer.pkl