# --- Core AI ---
tensorflow==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
keras==2.10.0
numpy==1.23.5
pandas==2.0.3
matplotlib==3.7.3
scikit-learn==1.2.2

# --- Audio IO ---
sounddevice==0.4.6
soundfile==0.12.1

# --- Text to Speech ---
pyttsx3==2.90

# --- Keyboard Detection ---
keyboard==0.13.5

# --- Web ---
Django==4.2.20

# --- Whisper (必須) ---
#faster-whisper==0.6.0 --no-deps
#ctranslate2==3.17.0


