{% load static %}
<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <title>Halu UI</title>
        <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    </head>

    <body>

        <!-- ヘッダー -->
        <div class="header">
            <!-- 左上のアイコン -->
            <div class="user-box">
                <!-- アイコンの画像 -->
                <img src="{% static 'img/face.png' %}" class="icon">
                <span class="username">Halu</span>
            </div>
        
            <div class="headerButton">
                <!-- 起動ボタンボタン（本実装の時は消す） -->
                <button id="startbtn" class="button-32">起動</button>
                <!-- 音声切替ボタン -->
                <button id="soundbtn" class="button-32">BGMを有効化</button>
                <audio id="BGMsound" src="{% static 'sound/gauge.mp3' %}" loop></audio>
                <!-- ゲージ表示切替ボタン -->
                <button id="showbtn" class="button-32">ゲージ表示</button>
                <!-- 背景画像変更 -->
                <button id="bgChangeBtn" class="button-32">背景変更</button>
                <input type="file" id="bgFileInput" accept="image/*" style="display: none;">
            </div>
        </div>


        <div class="container">

            <!-- ★★★ 左エリア ★★★ -->
            <div class="left-area">
                <div class="chat-box">

                    <!-- messages というリスト（配列）から1つずつ msg に取り出して使っているfor文 -->
                    {% for msg in messages %}
                        <!-- CSS で user と bot の吹き出しデザインを分ける -->
                        <div class="balloon {{ msg.sender }}">
                            <!-- テキスト表示 -->
                            {{ msg.text }}
                        </div>
                    {% endfor %}

                </div>

                <!-- 音声入力ボタン -->
                <div class="voice-icon">
                    <button id="voiceBtn"></button>
                </div>

            </div>

            <!-- ★★★ 右エリア ★★★ -->
            <div class="right-area">

                <!-- 右画面背景画像 -->
                <img src="{% static 'img/windows.jpg' %}" class="right-back">

                <!-- 起動ボタン押下時のアニメーション -->
                <!-- <div class="start-area">
                    playsinlineを入れないとスマホとかで強制的に全画面表示になる
                    <video id="startvideo" width="400" muted playsinline preload="auto" style="display:block;"> 
                        <source src="{% static 'video/startvideo.mp4' %}" type="video/mp4">
                    </video>
                </div> -->
                <!-- HaLuの顔画像 -->
                <div class="face-area">
                    <img id = "icon" src="{% static 'img/HaLu.png' %}" class="face-img">
                </div>
            
                <!-- 感情ゲージ -->
                <div class="emotion-area fade hide" id="emotionArea">

                    <!-- 覚醒度バー -->
                    <div class="bar-item">
                        <div class="fade show">
                            <div class="bar-label">
                                覚醒度
                            </div>
                        </div>
                        <div class="bar-base">
                            <div class="bar-fill fill1" id="awakeBar"></div>
                        </div>
                    </div>

                    <!-- 快楽度バー -->
                    <div class="bar-item">
                        <div class="bar-label">
                            快楽度
                        </div>
                        <div class="bar-base" class="fade show">
                            <div class="bar-fill fill2" id="pleasureBar"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- pythonから値を受け取る場所 -->
        <script>
            window.emotion = { x: 0, y: 0 };
        </script>
        
        {% if awakening is not None %}
        <script>
            window.emotion.x = {{ awakening }};
        </script>
        {% endif %}
        
        {% if pleasure is not None %}
        <script>
            window.emotion.y = {{ pleasure }};
        </script>
        {% endif %}

        <audio id="seOn" src="{% static 'sound/seOn.mp3' %}"></audio>
        <audio id="seOff" src="{% static 'sound/seOff.mp3' %}"></audio>

        <script src="{% static 'js/BGM.js' %}"></script>
        <script src="{% static 'js/gauge.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/voice_animation.js' %}"></script>
        <script src="{% static 'js/updateBackimg.js' %}"></script>
    </body>
</html>